.vs/AutoLotAPI_Core2/config/applicationhost.config
.vs/AutoLotAPI_Core2/DesignTimeBuild/.dtbcache
.vs/AutoLotAPI_Core2/DesignTimeBuild/.dtbcache.v2
.vs/AutoLotAPI_Core2/v16/.suo
.vs/AutoLotAPI_Core2/v16/Server/sqlite3/db.lock
.vs/AutoLotAPI_Core2/v16/Server/sqlite3/storage.ide
AutoLotAPI_Core2/appsettings.json
AutoLotAPI_Core2/obj/AutoLotAPI_Core2.csproj.nuget.cache
AutoLotAPI_Core2/obj/AutoLotAPI_Core2.csproj.nuget.dgspec.json
AutoLotAPI_Core2/obj/AutoLotAPI_Core2.csproj.nuget.g.props
AutoLotAPI_Core2/obj/AutoLotAPI_Core2.csproj.nuget.g.targets
AutoLotAPI_Core2/obj/project.assets.json
AutoLotAPI_Core2/obj/project.nuget.cache
AutoLotAPI_Core2/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
AutoLotAPI_Core2/obj/Debug/netcoreapp3.0/apphost.exe
AutoLotAPI_Core2/obj/Debug/netcoreapp3.0/AutoLotAPI_Core2.AssemblyInfo.cs
AutoLotAPI_Core2/obj/Debug/netcoreapp3.0/AutoLotAPI_Core2.AssemblyInfoInputs.cache
AutoLotAPI_Core2/obj/Debug/netcoreapp3.0/AutoLotAPI_Core2.assets.cache
AutoLotAPI_Core2/obj/Debug/netcoreapp3.0/AutoLotAPI_Core2.csproj.CoreCompileInputs.cache
AutoLotAPI_Core2/obj/Debug/netcoreapp3.0/AutoLotAPI_Core2.csproj.FileListAbsolute.txt
AutoLotAPI_Core2/obj/Debug/netcoreapp3.0/AutoLotAPI_Core2.csprojAssemblyReference.cache
AutoLotAPI_Core2/obj/Debug/netcoreapp3.0/AutoLotAPI_Core2.exe
AutoLotAPI_Core2/obj/Debug/netcoreapp3.0/AutoLotAPI_Core2.MvcApplicationPartsAssemblyInfo.cache
AutoLotDAL_Core2.Models/bin/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.deps.json
AutoLotDAL_Core2.Models/bin/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.dll
AutoLotDAL_Core2.Models/bin/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.pdb
AutoLotDAL_Core2.Models/obj/AutoLotDAL_Core2.Models.csproj.nuget.cache
AutoLotDAL_Core2.Models/obj/AutoLotDAL_Core2.Models.csproj.nuget.dgspec.json
AutoLotDAL_Core2.Models/obj/AutoLotDAL_Core2.Models.csproj.nuget.g.props
AutoLotDAL_Core2.Models/obj/AutoLotDAL_Core2.Models.csproj.nuget.g.targets
AutoLotDAL_Core2.Models/obj/project.assets.json
AutoLotDAL_Core2.Models/obj/project.nuget.cache
AutoLotDAL_Core2.Models/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
AutoLotDAL_Core2.Models/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.AssemblyInfo.cs
AutoLotDAL_Core2.Models/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.AssemblyInfoInputs.cache
AutoLotDAL_Core2.Models/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.assets.cache
AutoLotDAL_Core2.Models/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.csproj.CoreCompileInputs.cache
AutoLotDAL_Core2.Models/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.csproj.FileListAbsolute.txt
AutoLotDAL_Core2.Models/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.csprojAssemblyReference.cache
AutoLotDAL_Core2.Models/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.dll
AutoLotDAL_Core2.Models/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.pdb
AutoLotDAL_Core2/bin/Debug/netcoreapp3.0/AutoLotDAL_Core2.deps.json
AutoLotDAL_Core2/bin/Debug/netcoreapp3.0/AutoLotDAL_Core2.dll
AutoLotDAL_Core2/bin/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.dll
AutoLotDAL_Core2/bin/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.pdb
AutoLotDAL_Core2/bin/Debug/netcoreapp3.0/AutoLotDAL_Core2.pdb
AutoLotDAL_Core2/bin/Debug/netcoreapp3.0/AutoLotDAL_Core2.runtimeconfig.dev.json
AutoLotDAL_Core2/bin/Debug/netcoreapp3.0/AutoLotDAL_Core2.runtimeconfig.json
AutoLotDAL_Core2/obj/AutoLotDAL_Core2.csproj.EntityFrameworkCore.targets
AutoLotDAL_Core2/obj/AutoLotDAL_Core2.csproj.nuget.cache
AutoLotDAL_Core2/obj/AutoLotDAL_Core2.csproj.nuget.dgspec.json
AutoLotDAL_Core2/obj/AutoLotDAL_Core2.csproj.nuget.g.props
AutoLotDAL_Core2/obj/AutoLotDAL_Core2.csproj.nuget.g.targets
AutoLotDAL_Core2/obj/project.assets.json
AutoLotDAL_Core2/obj/project.nuget.cache
AutoLotDAL_Core2/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
AutoLotDAL_Core2/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.AssemblyInfo.cs
AutoLotDAL_Core2/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.AssemblyInfoInputs.cache
AutoLotDAL_Core2/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.assets.cache
AutoLotDAL_Core2/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.csproj.CopyComplete
AutoLotDAL_Core2/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.csproj.CoreCompileInputs.cache
AutoLotDAL_Core2/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.csproj.FileListAbsolute.txt
AutoLotDAL_Core2/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.csprojAssemblyReference.cache
AutoLotDAL_Core2/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.dll
AutoLotDAL_Core2/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.genruntimeconfig.cache
AutoLotDAL_Core2/obj/Debug/netcoreapp3.0/AutoLotDAL_Core2.pdb
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/appsettings.Development.json
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/appsettings.json
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/AutoLotDAL_Core2.Models.pdb
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/AutoLotMVC_Core2.deps.json
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/AutoLotMVC_Core2.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/AutoLotMVC_Core2.exe
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/AutoLotMVC_Core2.pdb
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/AutoLotMVC_Core2.runtimeconfig.dev.json
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/AutoLotMVC_Core2.runtimeconfig.json
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/AutoLotMVC_Core2.Views.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/AutoLotMVC_Core2.Views.pdb
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/dotnet-aspnet-codegenerator-design.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Razor.Language.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Server.Kestrel.Https.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.CSharp.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.Razor.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.CodeAnalysis.Workspaces.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.Data.SqlClient.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.DotNet.PlatformAbstractions.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Abstractions.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Design.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Relational.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.SqlServer.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.Extensions.DependencyModel.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.Identity.Client.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/NuGet.Frameworks.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/System.Composition.AttributedModel.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/System.Composition.Convention.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/System.Composition.Hosting.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/System.Composition.Runtime.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/System.Composition.TypedParts.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/System.Configuration.ConfigurationManager.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/System.Runtime.Caching.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/System.Security.Cryptography.ProtectedData.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/cs/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/de/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/es/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/fr/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/it/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/ja/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/ko/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/pl/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/ru/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/runtimes/win-arm64/native/sni.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/runtimes/win-x64/native/sni.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/runtimes/win-x64/nativeassets/netcoreapp2.2/aspnetcorev2_inprocess.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/runtimes/win-x86/native/sni.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/runtimes/win-x86/nativeassets/netcoreapp2.2/aspnetcorev2_inprocess.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/tr/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
AutoLotMVC_Core2/bin/Debug/netcoreapp3.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
AutoLotMVC_Core2/obj/AutoLotMVC_Core2.csproj.nuget.cache
AutoLotMVC_Core2/obj/AutoLotMVC_Core2.csproj.nuget.dgspec.json
AutoLotMVC_Core2/obj/AutoLotMVC_Core2.csproj.nuget.g.props
AutoLotMVC_Core2/obj/AutoLotMVC_Core2.csproj.nuget.g.targets
AutoLotMVC_Core2/obj/project.assets.json
AutoLotMVC_Core2/obj/project.nuget.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/apphost.exe
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.AssemblyInfo.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.AssemblyInfoInputs.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.assets.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.csproj.CopyComplete
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.csproj.CoreCompileInputs.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.csproj.FileListAbsolute.txt
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.csprojAssemblyReference.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.dll
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.exe
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.genruntimeconfig.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.MvcApplicationPartsAssemblyInfo.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.pdb
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.RazorAssemblyInfo.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.RazorAssemblyInfo.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.RazorCoreGenerate.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.RazorTargetAssemblyInfo.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.RazorTargetAssemblyInfo.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.TagHelpers.input.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.TagHelpers.output.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.Views.dll
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/AutoLotMVC_Core2.Views.pdb
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/_ViewImports.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/_ViewStart.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Customer/Create.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Customer/Delete.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Customer/Details.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Customer/Edit.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Customer/Index.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Customer/IndexWithViewComponent.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Customer/EditorTemplates/Customer.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Home/Contact.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Home/Index.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Home/Privacy.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Inventory/Create.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Inventory/Delete.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Inventory/Details.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Inventory/Edit.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Inventory/Index.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Inventory/IndexWithViewComponent.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Inventory/DisplayTemplates/InventoryList.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Inventory/EditorTemplates/Inventory.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Shared/_Layout.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Shared/Error.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Shared/Components/Customer/CustomerPartialView.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/Razor/Views/Shared/Components/Inventory/InventoryPartialView.cshtml.g.cs
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/staticwebassets/AutoLotMVC_Core2.StaticWebAssets.Manifest.cache
AutoLotMVC_Core2/obj/Debug/netcoreapp3.0/staticwebassets/AutoLotMVC_Core2.StaticWebAssets.xml
/AutoLotAPI_Core2/bin/Debug/netcoreapp3.0
/AutoLotAPI_Core2/obj/Debug/netcoreapp3.0
