
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<address>
    <strong>Support:</strong>
    <email email-name="support" email-domain="example.com"></email> <br />
    <strong>Marketing:</strong>
    <email email-name="marketing" email-domain="example.com"></email>
</address>